/* CSS enternal */
body{
    background: linear-gradient(to top, #a8dadc, #d1d1d1);
    font-family: Garamond;
    width: 1020px;
    margin: auto;
    color: #333;
}
#main_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-bottom: 0px;
}
/* setting logo  */
.logo_company{
    height: 50px;
    width: 50px;
    background-image: url(../assets/logo.jpg);
    background-size: cover;
    border-radius: 80%;
}
/* setting navigation  */
nav{
    display: flex;
}
nav>a{
    border: 1px solid;
    color: #333;
    padding: 6px;
    text-decoration: none;
    padding: 8px 12px;
}
.border_left{
    border-top-left-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 6px;
}
.border_right{
    border-top-left-radius: 0px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 0px;
}
/* setting header  */
.header_content{
    text-align: center;
    color: #333;
}
/* setting main content  */
.main_content{
    display:flex;
    flex-direction: row;
    height: auto;
    justify-content: center;
}
/* setting left container  */
.main_container_left{
    width: 800px;
    align-content: center;
    text-align: center;
    padding: 10px;
}
/* setting for autoslide  */
.main-banner {
    height: 600px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}
.banner-img-1 {
    background-image: url(../assets/bali.jpg);
}
.banner-img-2 {
    background-image: url(../assets/dieng_plateau.jpg);
}
.banner-img-3 {
    background-image: url(../assets/komodo_island.jpg);
}
.banner-img-4 {
    background-image: url(../assets/semarang.jpg);
}
.banner-img-5 {
    background-image: url(../assets/surabaya.jpg);
}
.banner-img-6 {
    background-image: url(../assets/yogyakarta.jpg);
}
/* review customer */
.review_container {
    margin: auto;
    margin-top: 20px;
    width: 300px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: justify;
}
.review_text {
    margin-bottom: 20px;
    color: #333;
}
.review_author {
    display: flex;
    align-items: center;
}
.author_avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(../assets/foto_profil.jpg);
    background-size: cover;
    margin-right: 15px;
}
.author_name {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}
.author_details {
    font-size: 0.9em;
    color: #888;
}
/* benefit list  */
#benefit_list{
    text-align: justify;
    padding-right: 30px;
    color: #333;
}
/* setting container right  */
.main_container_right{
    width: 280px;
    text-align: center;
    padding: 10px;
}
.main_container_right h2{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
/* setting form  */
#validation_form{
    margin: 5px;
    width: auto;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: justify;
}
.form_colomn {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}
.form_colomn label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}
.form_colomn input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}
.form_colomn select{
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #818181;
}
.form_colomn button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}
.form_colomn button:hover {
    background-color: #45a049;
}
/* package option section  */
.package_option{
    display:flex;
}
.sub_package_option{
    flex: 1;
    flex-direction: row;
    margin: 5px;
    width: auto;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: justify;
}
/* call us section  */
#call_us_section{
    text-align: center;
}
#call_us_section button{
    background-color: #333;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 30%;
    font-size: 16px;
}
/* footer section  */
.footer_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
/* Responsive Design for device with max width 720px*/
@media only screen and (max-width: 720px){
    body{
        width: 720px;
    }
    .main_container_left{
        width: 500px;
    }
    .main-banner {
        height: 340px;
    }
    .main_container_right{
        width: 270px;
    }
}
/* Responsive Design for device with max width 480px*/
@media only screen and (max-width: 480px){
    body{
        width: 480px;
    }
    .main_content {
        flex-direction: column;
        align-items: center;
    }
    .main_container_left{
        width: 460px;
    }
    .main-banner {
        height: 270px;
    }
    .package_option{
        flex-direction: column;
        align-items: center;
    }
    .sub_package_option{
        width: 400px;
    }
}